{% extends 'base.html.jinja' %}
{% block title %}Tag List{% endblock %}

{% block content %}
  <h1>Tag List</h1>
  <ul>
    {% for tag in tags %}
    <li><a href="/tags/{{ tag.id }}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
  <p><a href="/tags/new"><button>Add Tag</button></a></p>
{% endblock %}