{% extends 'base.html.jinja' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>Customers</h1>

<ul style="column-count: 2">
  {% for customer in customers %}
  <li>
    <a href="/{{ customer.id }}/">{{ customer.fullName }}</a>
    {% if customer.lastReservation %}
    - for {{ customer.lastReservation.numGuests }} @ {{ customer.lastReservation.formattedStartAt }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}