autopep8==1.4.4
blinker==1.4
Click==7.1.2
greenlet==3.0.1
Flask==1.1.4
Flask-DebugToolbar==0.13.1
Flask-SQLAlchemy==2.5.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
psycopg2-binary==2.9.9
pycodestyle==2.5.0
SQLAlchemy==1.4.50
Werkzeug==1.0.1
typing_extensions==4.8.0