{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  <aside class="flashes m-2 w-75">
    {% for category,message in messages %}
    <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}
  </aside>
  {% endif %}
{% endwith %}