.EightBall h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  font-size: 4rem;
  font-weight: bold;
  padding: 1rem;
  text-wrap: balance;
}
.EightBall button {
  font-size: 2rem;
  background-color: cornflowerblue;
}
.EightBall .count {
  padding: .5rem 1rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 1rem;
}
.EightBall .red {background-color: red;}
.EightBall .goldenrod {background-color: goldenrod;}
.EightBall .green {background-color: green;}