<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Says</title>
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>
  <h1>Survey Says</h1>
  <main>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul class="flashes">
        {% for category,message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block content required %}{% endblock %}
  </main>
</body>
</html>