<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogly - {% block title required %}{% endblock %}</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  <ul class="flashes">
    {% for category,message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endwith %}
{% block content required %}{% endblock %}
</body>
</html>
