{% extends "base.html.jinja" %}
{% block title %}Secret Page{% endblock %}

{% block content %}
  <h1 class="my-2">Welcome to the Secret Page!</h1>
  <img class="w-100" src="https://uskings.us/wp-content/uploads/2021/05/Interstate-90-12.05.21-1.jpeg" alt="Interstate-90 in South Dakota">
{% endblock %}