{% extends 'base.html.jinja' %}
{% block title %}Home{% endblock %}

{% block content %}
  <h1>Recent Posts on Blogly</h1>
  {% for post in posts %}
  <h2>{{ post.title }}</h2>
  <pre>{{ post.content }}</pre>
  by <a href="/users/{{ post.user.id }}">{{ post.user.full_name }}</a> <small><i>{{ post.friendly_date }}</i></small></li>
  <p>
    <strong>Tags:</strong>
    {% for tag in post.tags %}
      <span class="tag">{{ tag.name }}</span>
    {% endfor %}
  </p>
  <hr>
  {% endfor %}
{% endblock %}