{% extends "base.html" %}
{% block body %}
<section id="boggle">
  <table id="gameboard" data-time-limit="{{ time_limit }}">
    {% for row in gameboard %}
    <tr>
      {% for letter in row %}
        <td>{{ letter }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <aside id="stats">
    <div id="scoring">
      <h2>Score: <span id="current-score">0</span></h2>
      <h2>Best: <span id="best-score">{{ high_score }}</span></h2>
      <h2>Games: <span id="games-played">{{ games_played }}</span></h2>
      <p class="button-row">
        <a href="/"><button type="button">New Game</button></a>
      </p>
    </div>
  </aside>
</section>

<hr>

<section>
  <form id="guess-form">
    <p>
      <label for="guess">Your word:</label>
      <input id="guess-word" placeholder="lexeme" required autofocus>
      <button type="submit">Check</button>
    </p>
    <p id="result"></p>
  </form>
</section>

<hr id="word-separator">

<section id="words">
  <h3>Words you found</h3>
  <ul id="words-found"></ul>
  <div id="all-words">
    <h3>All words on the board</h3>
    <ul></ul>
  </div>
</section>
{% endblock %} 
{% block scripts %}
<script src="static/app.js"></script>
{% endblock %} 