.CardTable {
  background-color: cornflowerblue;
}
.CardTable button {
  background-color: mediumpurple;
  color: white;
}
.CardTable ul {
  position: relative;
  height: 320px;
}
.CardTable button {
  margin: 0 1rem;
}
.CardTable button:disabled {
  background-color: gray;
}